[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"
python-dotenv = "*"
Flask = "*"
beautifulsoup4 = "*"
requests = "*"
passlib = "*"
sendgrid = "*"

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
