[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m pytest"
dev = "flask run"

[packages]
pymongo = {extras = ["srv"], version = "*"}
gunicorn = "*"
python-dotenv = "*"
Flask = "*"
beautifulsoup4 = "*"
requests = "*"
passlib = "*"
sendgrid = "*"
requests-html = "*"
pyppeteer = "*"
twilio = "*"
stripe = "*"
phonenumbers = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
