{% extends "base.html" %}

{% block content %}
<section>
    <div class="bg-gray-100 shadow-sm rounded-md p-8">
        <div class="flex items-center text-xl">
            <h2 class="flex-grow ext-md lg:text-2xl text-gray-600 mb-3">
                Credits: {{ user.credits_consumed }}/{{ user.credits_available }}
            </h2>
            <button class="py-3 px-12 bg-blue-500 hover:bg-blue-600 mr-5 rounded-md text-white text-lg focus:outline-none" id="submitBtn">
            Purchase!
            </button>
        </div>
    </div>
    <div class="bg-gray-100 shadow-sm rounded-md p-8">
        <h2 class="ext-md lg:text-2xl text-gray-600 mb-3">
        Payments
        </h2>
        {% if payments|length > 0 %}
            {% for payment in payments %}
            <div class="flex items-center text-xl">
                {{ payment.created }} - amount: +{{ payment.amount }}
            </div>
            {% endfor %}
        {% else %}
            <div class="mb-10 flex items-center text-xl">
                No payments have been found yet. Purchase some to get started.
            </div>
        {% endif %}
    </div>
    <div class="bg-gray-100 shadow-sm rounded-md p-8">
        <h2 class="ext-md lg:text-2xl text-gray-600 mb-3">
        Notifications
        </h2>
        {% if notifications|length > 0 %}
            {% for notification in notifications %}
            <div class="flex items-center text-xl">
                {{ notification.created }}: {{ notification.notification_type }} - {{ notification.alert.name }}
            </div>
            {% endfor %}
        {% else %}
            <div class="mb-10 flex items-center text-xl">
                No notifications have been found yet.
            </div>
        {% endif %}
    </div>
</section>

<script>
  // Get Stripe publishable key
  fetch("/config", {method: "POST"})
  .then((result) => { return result.json(); })
  .then((data) => {
    // Initialize Stripe.js
    const stripe = Stripe(data.publicKey);

    // new
    // Event handler
    document.querySelector("#submitBtn").addEventListener("click", () => {
      // Get Checkout Session ID
      fetch("/create-checkout-session", {method: "POST"})
      .then((result) => { return result.json(); })
      .then((data) => {
        console.log(data);
        // Redirect to Stripe Checkout
        return stripe.redirectToCheckout({sessionId: data.sessionId})
      })
      .then((res) => {
        console.log(res);
      });
    });
  });
</script>
{% endblock %}