{% extends "base.html" %}

{% block content %}
    <header>
        <h1 class="text-5xl lg:text-6xl font-bold text-teal-600 mb-2 lg:mb-6">Edit Alert</h1>
    </header>
    <section>
        <form method="post" class="bg-gray-100 shadow-sm rounded-md p-8">
             <div class="mb-6">
                <label for="name" class="mb-3 block text-gray-700">Name</label>
                <input type="text" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full opacity-50" id="name" name="name" value="{{ alert.name }}" disabled />
            </div>
            <div class="mb-6">
                <label for="item_url" class="mb-3 block text-gray-700">Item Url</label>
                <input type="text" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full opacity-50" id="item_url" name="item_url" value="{{ alert.item.url }}" disabled />
            </div>
            <div class="mb-6">
                <label for="price_limit" class="mb-3 block text-gray-700">Price limit</label>
                <input type="text" class="bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" id="price_limit" name="price_limit" value="{{ alert.price_limit }}" placeholder="{{ alert.price_limit }}" aria-describedby="priceLimitHelp" />
                <small id="priceLimitHelp" class="form-text text-muted">
                    Under which price for the item would you like to get notified?
                </small>
            </div>

            <button type="submit" class="py-3 px-12 bg-blue-500 hover:bg-blue-600 mr-5 rounded-md text-white text-lg focus:outline-none w-full">
                Edit
            </button>
        </form>
    </section>
{% endblock %}