<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>
        {% if title %}
        {{ title }}
        {% else %} PriceWatch
        {% endif %}
    </title>
</head>
<body>
    <header>
    <nav class="flex items-center justify-between p-6 container mx-auto">
        <!-- Logo will come here -->

        <!-- Menu items in the center here -->

        <!-- CTA buttons will come here -->
    </nav>
    </header>
    <main class="mt-12 lg:mt-32">
        <div class="container mx-auto px-6">
            <!-- content goes here -->
            {% block content %}

            {% endblock %}
        </div>
    </main>
</body>
</html>