<header>
    <nav class="flex items-center justify-between p-6 container mx-auto">
        <!-- Logo -->
        <a href="/"><div class="text-3xl font-mono text-blue-900">PriceWatch</div></a>

        <!-- Menu items -->
        <div class="text-lg text-gray-600 hidden lg:flex">
            <a href="/" class="block mt-4 lg:inline-block text-blue-600 lg:mt-0 mr-10">
                Home
            </a>
            <a href="{{ url_for('stores.index') }}" class="block mt-4 lg:inline-block hover:text-gray-700 lg:mt-0 mr-10">
                Stores
            </a>
            <a href="{{ url_for('alerts.index') }}" class="block mt-4 lg:inline-block hover:text-gray-700 lg:mt-0 mr-10">
                Alerts
            </a>
            <a href="{{ url_for('credits.index') }}" class="block mt-4 lg:inline-block hover:text-gray-700 lg:mt-0 mr-10">
                Credits
            </a>
        </div>

        <!-- CTA and Hamburger icon -->
        <div class="flex items-center">
            <div class="mr-5 lg:mr-0">
                {% if not session['email'] %}
                    <a href="{{ url_for('users.login_user') }}" class="py-2 px-6 rounded-md text-gray-600 hover:text-gray-700 text-lg">Sign in</a>
                    <a href="{{ url_for('users.register_user') }}" class="py-2 px-6 bg-blue-500 hover:bg-blue-600 rounded-md text-white text-lg">Sign up</a>
                {% else %}
                    <a href="{{ url_for('users.user_profile') }}" class="py-2 px-6 rounded-md text-gray-600 hover:text-gray-700 text-lg">Profile</a>
                    <a href="{{ url_for('users.logout_user') }}" class="py-2 px-6 rounded-md text-gray-600 hover:text-gray-700 text-lg">Sign out</a>
                {% endif %}
            </div>
            <div class="block lg:hidden">
                <button
                    class="flex items-center px-4 py-3 border rounded text-blue-500 border-blue-500 focus:outline-none">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>

        </div>
    </nav>
</header>
